canvas {
	color : red;
	background-color : grey;
	border-radius : 15px;
	text-align : center;
	/*padding-top : 10px;*/
	opacity : 0.8;
}

a {
	display: inline-block;
	color : red;
	background-color : blue;
	width : 100px;
	height : 30px;
	border-radius : 15px;
	text-align : center;
	/*padding-top : 10px;*/
	opacity : 0.6;
}

a:hover {
	color : yellow;

}